.bloc-commentaire {
  background-color: white;
  width: 60%;
  height: auto;
  padding: 20px;
  border: 4px solid rgba(54, 75, 110, 1);
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.commentaire-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  color: rgba(54, 75, 110, 1);
  font-size: 20px;
}

.form-inputs {
  height: 32px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.etoile {
  margin: 3%;
}

.form-inputs_commentaire {
  height: 80px;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.messageB {
  display: flex;
  justify-content: center;
  align-self: center;
  transition: opacity 0.5s 0s ease;
  padding: 10px;
  background-color: #364b6e;
  color: white;
  font-size: 19px;
  line-height: 25px;
  height: 10%;
  width: 40%;
}

.button {
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  outline: none;
  border: 2px rgba(54, 75, 110, 1) solid;
  background-color: rgb(10, 26, 54);
  color: white;
  border-color: rgb(99, 131, 187);
  width: 16em;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}
