.bloc-commentaire {
  background-color: white;
  width: 50%;
  height: auto;
  padding: 20px;
  border: 2px solid rgba(54, 75, 110, 1);
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.commentaire-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  color: rgba(54, 75, 110, 1);
  font-size: 20px;
}

.form-inputs {
  border-color: rgba(54, 75, 110, 1);
  border-radius: 5px;
}

.form-inputs1 input {
  height: 80px;
  width: 130%;
}

.button {
  margin-left: 100px;
  margin-top: 20px;
}
