.globalApi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  color: rgba(54, 75, 110, 1);
  border-color: rgba(54, 75, 110, 1);
  margin: 5%;
}

.Com {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.918);

  padding: 2%;
  height: 10%;
  width: 100%;
  line-height: 24px;
  border: 2px rgba(54, 75, 110, 1) solid;
  border-radius: 10px;
}
