.Comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
}

.Avis {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 5%;
  font-size: 22px;
  line-height: 38px;
  color: rgba(54, 75, 110, 1);
}

.Commentaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.button1 {
  border: 2px rgba(54, 75, 110, 1) solid;
  background-color: rgb(10, 26, 54);
  color: white;
  border-color: rgb(99, 131, 187);
  width: 16em;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}
