.mylogo3 {
  width: 100%;
  height: auto;
}

.textlogo {
  position: absolute;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 40px;
}

.logo3 {
  width: 100%;
  height: 660px;
}

.ligne_horizontal {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  margin-left: 500px;
  margin-top: 50px;
}

.ligne_horizontal:before,
.ligne_horizontal:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgb(163, 163, 168);
  margin: auto;
}

.ligne_horizontal h1 {
  font-size: 45px;
  font-family: "Pacifico", cursive;
  /* font-family: "Rammetto One", cursive; */
  color: rgb(37, 72, 131);
}

.meteohoraire {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.meteoimg {
  display: flex;
  width: 50%;
  margin-bottom: 150px;
  margin-left: 500px;
  height: 500px;
}

#widget_autocomplete_preview {
  position: relative; /* postulat de départ */
  top: 50px; /* à 50%/50% du parent référent */
  margin-right: 500px;
  margin-bottom: 250px;
}

.horaire {
  display: flex;
  margin-right: 200px;
}
