.container__Acceuil {
  display: flex;
  color: rgba(54, 75, 110, 1);
  .divAcceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container__Acceuil {
    display: flex;
    flex-direction: column;
    .divAcceuil {
      width: auto;
    }
    div {
      margin: 2%;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container__Acceuil {
    display: flex;
    flex-direction: column;
    .divAcceuil {
      width: auto;
    }
  }
}
