.containerlogin {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: right;

  .container__adminlogin {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 60vh;
    align-items: center;
    width: 100%;
    .container__logo {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      h1 {
        color: rgba(54, 75, 110, 1);
        margin-top: auto;
      }
      .logo {
        height: 75px;
        position: relative;
        top: 5%;
        left: 10%;
        margin-top: 3%;
      }
    }

    .container__login {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 300px;
      margin-top: 10%;
      input {
        margin: 10px;
        padding: 5px;
        border: solid 2px;
        border-radius: 5px;
      }
     
      button {
        border: none;
        text-decoration: none;
        outline-style: none;
        background-color: lightgrey;
        width: 100px;
        margin: 30px;
        padding: 5px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }
    }
  }
  .message {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    transition: opacity 0.5s 0s ease;
    padding: 10px;
    background-color: #364B6E;
    color: white;
    font-size: 19px;
    line-height: 25px;
    height: 10%;
    width: 20%;
}

}
