.container__tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2%;
    width: 100%;
    height: auto;
    border:  rgb(60, 150, 255) 5px solid;
    border-radius: 10px;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.918);
    h1 {
        width: auto;
    }
    table {
        margin: 10%;
        width: 100%;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
    }
}