.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  .logo {
    width: 20%;
    position: relative;
    top: 8%;
    margin-left: 5%;
  }
  .photo_acceuil {
    height: 250px;
    width: auto;
    margin-right: 10%;
    border-radius: 10px;
  }
}

// iPads (portrait and landscape)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container__header {
    .logo {
      height: 100px;
      width: auto;
      top: 5%;
      left: 10%;
    }
    .photo_acceuil {
      height: 150px;
    }
  }
}

// Smartphones (portrait and landscape)

@media screen and (max-width: 480px) {
  .container__header {
    .logo {
      width : 170px;
      top: 2%;
      left: 5%;
    }
    .photo_acceuil {
      display: none;
    }
  }
}
