.meteo-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(54, 75, 110, 1);
  margin: 10%;
  height: auto;
  width: 100%;
  font-weight: bolder;
}

.titre {
  display: flex;
  justify-content: center;
  line-height: 38px;
  font-size: 32px;
  margin-bottom: 10%;
}

.meteo-three {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.meteo-jour {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.meteoIMG {
  width: 75px;
  height: 75px;
  margin: 10%;
}

.meteoBtn {
  border: rgb(60, 150, 255) 2px solid;
  background-color: rgb(10, 26, 54);
  color: white;
  width: 16em;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
  margin: 30px;
}

@media screen and (min-width: 1024px) {
  .meteo-outline {
    width: 50%;
  }
}
