.meteo-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(54, 75, 110, 1);
  margin: 10%;
  height: auto;
  font-weight: bolder;
}

.titre {
  display: flex;
  justify-content: center;
  line-height: 38px;
  font-size: 32px;
}

.meteo-three {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.meteo-jour {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meteoIMG {
  width: 75px;
  height: 75px;
}



.meteoBtn {
  border: 2px rgba(54, 75, 110, 1) solid;
  background-color: rgb(10, 26, 54);
  color: white;
  border-color: rgb(99, 131, 187);
  width: 16em;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}

@media screen and (min-width: 1024px) {
  .meteo-outline {
    width: 50%;
  }
}
