.meteo-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(54, 75, 110, 1);
  margin: 2%;
  height: auto;
  width: 100%;
  font-weight: bolder;
  border: rgb(60, 150, 255) 5px solid;
  border-radius: 10px;
  padding: 10%;
}

.titre {
  display: flex;
  justify-content: center;
  line-height: 38px;
  font-size: 32px;
  margin-bottom: 10%;
  width: 100%;
}

.meteo-three {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.meteo-jour {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 100%;
}

.meteoIMG {
  width: 75px;
  height: 75px;
  margin: 10%;
}

.meteoBtn {
  border: rgb(60, 150, 255) 2px solid;
  background-color: rgb(10, 26, 54);
  color: white;
  width: 16em;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
  margin: 30px;
}
.meteoBtn:active {
  background-color: #477ddb;
  box-shadow: 0 5px rgb(151, 149, 149);
  transform: translateY(4px);
}

/* Smartphones portrait and landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .meteo-outline {
    padding: 0;
    width: 100%;
  }
}

/* ipad portrait and landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .meteo-outline {
    padding: 0;
    width: 100%;
  }
}
