.mytab table {
  position: absolute;
  left: 0;
  border-collapse: collapse;
  font-family: "Hind Siliguri", sans-serif;
  background-color: rgb(37, 72, 131);
  color: white;
  border-radius: 30px;
  align-items: center;
  z-index: 2;
  width: 600px;
}

.mytab tr {
  font-size: 16px;
  border: 1x solid white;
  flex-direction: column-reverse;
  padding: 10px;
  font-size: 30px;
  color: white;
  border: 1px solid white;
  align-items: center;
}

.mytab th td {
  display: flex;
  align-items: center;
}

.mytab th {
  font-size: 16px;
  border: 1x solid white;
  flex-direction: column-reverse;
  padding: 10px;
  font-size: 20px;
  color: white;
  margin-right: 30px;
}

.mytab td {
  color: white;
  font-size: 16px;
  border: 1x solid white;
  flex-direction: column-reverse;
  padding: 10px;
  font-family: "Hind Siliguri", sans-serif;
}
