.formulaireNewAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 5%;
    }
    input {
        margin: 3%;
        width: 200px;
        padding: 5px;
        border: solid 2px;
        border-radius: 5px;
    }
    .message {
        display: flex;
        justify-content: center;
        align-self: center;
        transition: opacity 0.5s 0s ease;
        padding: 10px;
        background-color: #364B6E;
        color: white;
        font-size: 19px;
        line-height: 25px;
        height: 10%;
        width: 20%;
      }
    button {
        border: none;
        text-decoration: none;
        outline-style: none;
        background-color: lightgrey;
        width: 100px;
        margin: 30px;
        padding: 5px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}