.container-footer {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  background-color: rgba(54, 75, 110, 1);
  bottom: 0;
  width: 100%;
}

.reseaux {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  width: 15%;
}

a {
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
}

.email {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.email:hover {
  color: blue;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-size: 15px;
  list-style: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.iframe {
  border-radius: 10px;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
}

@media screen and (max-width: 480px) {
  .iframe {
    display: none;
  }
  .reseaux {
    flex-direction: column;
  }
}
